Language: Cpp
BasedOnStyle: Microsoft
UseTab: Always
BreakBeforeBraces: Attach
SortIncludes: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakString: 1000